@font-face {
    font-family: "fishpx";
    src: url("assets/fonts/fishpx-mono-v1-1.ttf");
}

body {
    background-color: #001715;
    overflow-x: hidden;
}

h1 {
    color: #e3e3e3;
    font-family: "fishpx";
}

h2 {
    color: #ffad1f;
    font-family: "fishpx";
}

p {
    color: #ded1b6;
    font-family: "fishpx";
}

ul {
    color: #cfbb6e;
    font-family: "fishpx";
}

label {
    color: #e0d23a;
    font-family: "fishpx";
}

a {
    color: #72e9eb;
    font-family: "fishpx";
}

textarea {
    background: #001715;
    border-color: #007d68;
    border-width: 1px;
    color: #ded1b6;
    font-family: "fishpx";
    line-height: 21px;
    outline: none;
    overflow-wrap: normal;
    overflow-y: hidden;
    padding: 0;
    resize: none;
    width: calc(100% - 50px);
}

button {
    background: #001715;
    border-color: #007d68;
    color: #007d68;
    font-family: "fishpx";
}

input {
    background: #001715;
    border-color: #007d68;
    color: #007d68;
    font-family: "fishpx";
}

.editor {
    background: #001715;
    display: inline-flex;
    font-family: "fishpx";
    gap: 10px;
    line-height: 21px;
    padding: 16px 10px;
    width: 100%;
}

.filename-input {
    font-family: "fishpx";
    min-width: 250px;
}

.line-numbers {
    font-family: "fishpx";
    font-size: 12px;
    text-align: right;
    width: 20px;
}

.line-numbers span {
    counter-increment: linenumber;
}

.line-numbers span::before {
    color: #e0d23a;
    content: counter(linenumber);
    display: block;
}