.editor {
    display: inline-flex;
    width: 100%;
    gap: 10px;
    font-family: monospace;
    line-height: 21px;
    background: #e0e0e0;
    border-radius: 2px;
    padding: 20px 10px;
}

h1 {
    color: #e6a73b
}

h2 {
    color: #4069c9
}

textarea {
    line-height: 21px;
    overflow-wrap: normal;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    background: #efefef;
    color: rgb(72, 176, 202);
    width: calc(100% - 50px);
    outline: none;
    resize: none;
}

#filename-input {
    min-width: 200px;
}

.line-numbers {
    width: 20px;
    text-align: right;
}

.line-numbers span {
    counter-increment: linenumber;
}

.line-numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #5889be;
}